<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="Broadcast_Binding" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="BroadcastServiceBehavior" name="GXService.Broadcast.Service.BroadcastService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Broadcast_Binding"
          contract="GXService.Broadcast.Contract.IBroadcast">
        </endpoint>
        <endpoint address="BroadcastMex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BroadcastServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="GXService" storeLocation="LocalMachine"
              x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              includeWindowsGroups="false" customUserNamePasswordValidatorType="GXService.Authentication.GXUserNameValidator,GXService.Authentication" />
            <windowsAuthentication includeWindowsGroups="false" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
