<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CardRecognize_Binding" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxArrayLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="CardRecognizeServiceBehavior"
        name="GXService.CardRecognize.Service.CardRecognizeService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="CardRecognize_Binding"
          contract="GXService.CardRecognize.Contract.ICardsRecognizer" />
        <endpoint address="CardRecognizeMex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="CardRecognizeServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="GXService" storeLocation="LocalMachine"
              x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              includeWindowsGroups="false" customUserNamePasswordValidatorType="GXService.Authentication.GXUserNameValidator,GXService.Authentication" />
            <windowsAuthentication includeWindowsGroups="false" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
